@mixin checkerboard($size, $color) {
  background-size: $size*2 $size*2;
  background-position: $size/2 $size/2, $size/2 (-$size/2), (-$size/2) (-$size/2), (-$size/2) $size/2;
  background-image:
    linear-gradient(45deg, $color 25%, transparent 25%), 
    linear-gradient(-45deg, $color 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, $color 75%),
    linear-gradient(-45deg, transparent 75%, $color 75%);
}
@mixin douchebag-vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// component //
.expression {
  display: inline-flex;
  align-items: center;

  &.vertical {
    flex-direction: column;

    > .icon {
      transform: rotate(90deg);
    }
  }
  &.horizontal {
    flex-direction: row;

    > * {
      height: 0%;

      &.icon {
        vertical-align: middle;
      }
    }
  }

  > * {
    height: 0%;
    margin: 0.5em !important;

    &.icon {
      width: 1.5em;
      // margin: 0.5em;
    }
  }
}
.icon {
  width: 1em;
}

// layout //
$sidebar-width: 250px;

#root, #main {
  height: 100%;
}
#root {
  padding-left: $sidebar-width;
}
#sidebar {
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: $sidebar-width;
  padding: 0.42857142em;
  background: #1C1F1F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);

  &, a {
    color: #999;
  }
  a.active {
    color: #F0F0F0;
  }
  .list .list {
    padding: 0;
    margin-left: 1.42857142em;
  }
  .item, .dir {
    padding: .14285714em 0 !important;
  }
  .icon {
    width: 1.14285714em;
    vertical-align: top;
    margin-right: 0.28571428em;
  }
}
#body {
  @include checkerboard(50px, rgba(0, 0, 0, 0.05));
  height: 100%;

  > div {
    @include douchebag-vertical-align;
    text-align: center;
  }
}
